body{
    background-image: url(https://i.pinimg.com/564x/7d/fc/0b/7dfc0bc23102a4f435520b32e7544d28.jpg);
    background-size: cover;
}
.um{
    height: 300px;
}
.dois{
    height: 300px;
}
.tres{
    height: 300px;
}